_kedaImage: &keda
  registry: ghcr.io
  repository: kedacore/keda
  tag: 2.16.1@sha256:652b5296af89e9892aba110cf956476b02c81b2063144aa2e0d4b0e3a2a35c88

_metricsApiServerImage: &metrics
  registry: ghcr.io
  repository: kedacore/keda-metrics-apiserver
  tag: 2.14.0@sha256:2

_webhooksImage: &webhooks
  registry: ghcr.io
  repository: kedacore/keda-admission-webhooks
  tag: 2.14.0@sha256:3


image:
  keda: *keda
  metricsApiServer: *metrics
  webhooks: *webhooks
  pullPolicy: IfNotPresent
