image:
  keda:
    registry: ghcr.io
    repository: kedacore/keda
    tag: "2.15.0@sha256:1
  metricsApiServer:
    registry: ghcr.io
    repository: kedacore/keda
    tag: "2.15.0@sha256:2
  webhooks:
    registry: ghcr.io
    repository: kedacore/keda
    tag: "2.15.0@sha256:3
  pullPolicy: IfNotPresent
