_kedaImage: &keda
  registry: ghcr.io
  repository: kedacore/keda
  tag: 2.14.0@sha256:c74847dd7c2a62d6a3ad0631208dab53264cec4eb0fc5ac3f41d4852ee363bf6

_metricsApiServerImage: &metrics
  registry: ghcr.io
  repository: kedacore/keda-metrics-apiserver
  tag: 2.14.0@sha256:2

_webhooksImage: &webhooks
  registry: ghcr.io
  repository: kedacore/keda-admission-webhooks
  tag: 2.14.0@sha256:3


image:
  keda: *keda
  metricsApiServer: *metrics
  webhooks: *webhooks
  pullPolicy: IfNotPresent
